@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
}

:root {
  --font-pretendard: 'Pretendard', sans-serif;
}

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-secondary-bg text-text-default;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4;
  }

  .btn {
    @apply rounded-md px-4 py-2 transition-colors duration-200;
  }

  .btn-primary {
    @apply hover:bg-primary-dark bg-primary text-white;
  }
}

/* text style */
.customUnderline,
.customUnderlineHover {
  position: relative;
  display: block;
}

.customUnderlineHover {
  overflow: hidden;
}

.customUnderline::after,
.customUnderlineHover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.customUnderlineHover::after {
  background-color: #cdced6;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.customUnderlineHover:hover::after {
  transform: translateX(0);
}

/* scrollbar style */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #252730;
  border-radius: 24px;
}

::-webkit-scrollbar-thumb {
  background: #565295;
  border-radius: 24px;
  border: 1px solid #252730;
}

.scrollbar-hidden {
  overflow-x: auto;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

@layer utilities {
  .bg-secondary-80 {
    background-color: #3e404c;
  }
}
