@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
}

:root {
  --font-pretendard: 'Pretendard', sans-serif;
}

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-secondary-bg text-text-default;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4;
  }

  .btn {
    @apply rounded-md px-4 py-2 transition-colors duration-200;
  }

  .btn-primary {
    @apply hover:bg-primary-dark bg-primary text-white;
  }
}

/* text style */
.customUnderline {
  position: relative;
}

.customUnderline::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -1px;
  left: 0;
}

/* scrollbar style */
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #252730;
  border-radius: 24px;
}

::-webkit-scrollbar-thumb {
  background: #6659f4;
  border-radius: 24px;
  border: 2px solid #252730;
}

::-webkit-scrollbar-thumb:hover {
  background: #887efb;
}

.scrollbar-hidden {
  overflow-x: auto;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

@layer utilities {
  .bg-secondary-80 {
    background-color: #3e404c;
  }
}
