@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #252730 inset;
  -webkit-text-fill-color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

:root {
  --font-pretendard: 'Pretendard', sans-serif;
}

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-secondary-bg text-text-default;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4;
  }

  .btn {
    @apply rounded-md px-4 py-2 transition-colors duration-200;
  }

  .btn-primary {
    @apply hover:bg-primary-dark bg-primary text-white;
  }
}

/* text style */
.customUnderline {
  position: relative;
}

.customUnderline::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -1px;
  left: 0;
}

/* scrollBar style */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@layer utilities {
  .bg-secondary-80 {
    background-color: #3e404c;
  }
}
